extends layout

block content
  h1= title
  - let helicopters = results;
  div(class="container-fluid mt-3")
  div(class="row")
    each helicopter ,index in helicopters  
        div(class="col-sm-4" onclick=`buy(${index})`) #{helicopter.helicopterType } - #{helicopter.helicopterPrice} - #{helicopter.helicopterColor}

    script.
        function buy(itemNumber)
        {
            alert(`You purchased Item ${itemNumber+1}`)
        }
    